@font-face {
    font-family: MonaSans;
    src: url('fonts/Mona-Sans.woff2');
}

:root {
	--c-grey-100: #f4f6f8;
	--c-grey-200: #e3e3e3;
	--c-grey-300: #b2b2b2;
	--c-grey-400: #7b7b7b;
	--c-grey-500: #3d3d3d;

    --c-grey-light: lightgray;

	--c-blue-500: #688afd;
}

body {
    font-family: MonaSans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 1280px;
    margin: auto;
}

h1, h2, h3 {
    font-weight: 100;
    margin-bottom: 0;
}

h1 {
    font-size: 4em;
    padding-top: .2em;
    padding-bottom: .4em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: .3em;
}

h3 {
    font-size: 1em;
    padding-bottom: 1em;
}

h4 {
    font-size: 1.1em;
    padding: 0px;
	margin: 0px 0px 10px 0px;
}

main {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 3em;
}

header {
    text-align: center;
    margin: auto 2em;
}

#header > h1 {
    font-family: MonaSans;
    font-weight: 600;
}

#header > h2 {
    text-align: left;
}

#headbandFirst {
    display: grid;
    grid-template-columns: 10% 90%;
}

#perso-img {
    margin-top: 5px;
    border-radius: 50%;
    width: 100px;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: var(--c-grey-light);
    height: 1px;
}

.hr-margin-15 {
	margin: 15px 0px 15px 0px;
}

.justify {
    text-align: justify;
}

#mainLeft {
    border-right: 1px solid var(--c-grey-light);
}

#certifications a {
    text-decoration: none;
}

#certifications img {
    width: 60px;
    height: 60px;
}

#formations > h3 {
    padding-bottom: 0;
    font-weight: 700;
}

#skills {
    display: grid;
    grid-template-columns: 48% 4% 48%;
}

.skills-grid-row {
    display: grid;
	grid-template-columns: 30% 70%;
	margin: 5px 0px 5px 0px;
}


/* Timeline - Start */

.timeline {
	width: 85%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	padding: 32px 0 32px 32px;
	border-left: 2px solid var(--c-grey-200);
	font-size: 1.125rem;
}

.timeline-item {
	display: flex;
	gap: 24px;
	& + * {
		margin-top: 24px;
	}
}

.timeline-item-date {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 65px;
	height: 30px;
	margin-left: -65px;
	flex-shrink: 0;
	overflow: hidden;
	box-shadow: 0 0 0 6px #fff;
    font-size: 15px;
    text-align: center;
}

.timeline-item-description {
	display: flex;
	padding-top: 6px;
	gap: 8px;
	color: var(--c-grey-400);
    font-weight: 700;

	img {
		flex-shrink: 0;
	}
}

.timeline-item-description a {
	color: var(--c-grey-500);
	text-decoration: none;
	&:hover,
	&:focus {
		outline: 0;
		color: var(--c-blue-500);
	}
}

.company-logo {
	display: flex;
	justify-content: center;
	border-radius: 10%;
	overflow: hidden;
    flex-shrink: 0;
	height: 20px;

	img {
		object-fit: fill;
	}
}

.timeline-item-experience {
	margin-top: 12px;
	color: var(--c-grey-500);
	border: 1px solid var(--c-grey-200);
	box-shadow: 0 4px 4px 0 var(--c-grey-100);
	border-radius: 6px;
	padding: 16px;
	font-size: .7rem;

    internship >  {
        font-weight: 700;
    }
}

.timeline-item-experience-two-column {
	display: grid;
	grid-template-columns: 48% 4% 48%;
}

.color-blue {
    color: var(--c-blue-500);
}

/* Timeline - End */